doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Лист персонажа D&D
		link(rel="stylesheet", href="./src/style/style.css")
	body
		.content
			form
				.first-prop
					input#char-name(type="text" placeholder="Имя персонажа")
					input#char-race(type="text" placeholder="Раса")
					input#char-class(type="text" placeholder="Класс")
				.second-prop
					input#level(type="number" placeholder="Уровень")
					input#armor-class(type="number" placeholder="КД")
					input#speed(type="number" placeholder="Скорость")
					input#initiative(type="number" placeholder="Инициатива")
					input#hit-point(type="number" placeholder="Здоровье")
					input#age(type="number" placeholder="Возраст")
				.btn
					button#basic-prop-submit(type="submit") Отправить
				.inventory
					input#inventory(type="textarea") Инвентарь





		script(type="text/javascript", src="./src/js/script.js")
