doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title empty_project
		link(rel="stylesheet", href="./src/style/style.css")
	body
		.content
		//	HTML - код






		script(type="text/javascript", src="./js/script.js")
